services:
  app:
    image: kvtodev/teamcity-agent
    privileged: true
    network_mode: bridge
    restart: unless-stopped
    volumes:
      - ./config/dockerd_env:/etc/default/docker:ro
      - ./cache/docker:/var/lib/docker
      - ./cache/gradle:/root/.gradle
      - ./cache/m2:/root/.m2
      - ./cache/android-sdk:/opt/android-sdk
    environment:
      - SERVER_URL=https://teamcity.k88936.top
      - AGENT_NAME=linux-agent
      - DOCKER_IN_DOCKER=start
      - DOCKER_IPTABLES_LEGACY=1
      - no_proxy=localhost,127.0.0.1,::1,host.docker.internal,.local
      - NO_PROXY=localhost,127.0.0.1,::1,host.docker.internal,.local
      - http_proxy=http://host.docker.internal:7890
      - https_proxy=http://host.docker.internal:7890
      - HTTP_PROXY=http://host.docker.internal:7890
      - HTTPS_PROXY=http://host.docker.internal:7890
    extra_hosts:
      - "host.docker.internal:host-gateway"
